extends layout

block content
    .Content
        .Left_Content.box
            ul.Act-menu.animated
                each p in struct.countries
                    li.has-children
                        input(type='checkbox', name='#{p.name}',id='#{p.name}')
                        label(for='#{p.name}')= p.name
                        if p.areas.length != 0
                            ul
                                each a in p.areas
                                    li.has-children
                                        input(type='checkbox', name='#{a.name}',id='#{a.name}')
                                        label(for='#{a.name}')= a.name
                                        if a.organizations.length != 0
                                            ul
                                                each o in a.organizations
                                                    li
                                                        input(type='checkbox', name='#{o.name}',id='#{o.name}')
                                                        label(for='#{o.name}')= o.name

                if login
                    .Up_date
                        button.up_date_btn Update


        .Right_Content.box
            each d in data
                .Act_box
                    .Box_container
                        .Box_img
                            if d.img_scr
                                img.box_img(src='#{d.img_scr}')
                            else
                                img.box_img(src='/images/Unknown.jpeg')
                        .Box_info
                            h3= d.title
                            p= d.date
                            p= d.location
                            p= d.host
                            .Box_des
                                p= d.detail
                            button= d.price



