extends layout

block content
    .Content
        .Left_Content.box
            ul.Act-menu.animated
                each p in struct.countries
                    li.has-children
                        input.country(type='checkbox', name='#{p.name}',id='#{p.name}')
                        label(for='#{p.name}')= p.name
                        if p.area.length != 0
                            ul
                                each a in p.area
                                    li.has-children
                                        input.area(type='checkbox', name='#{a.name}',id='#{a.name}')
                                        label(for='#{a.name}')= a.name
                                        if a.organization.length != 0
                                            ul
                                                each o in a.organization
                                                    li
                                                        input.org(type='checkbox', name='#{o.name}',id='#{o.name}')
                                                        label(for='#{o.name}')= o.name

                if login
                    .Up_date
                        button.up_date_btn Update

        .Right_Content.box
            include box